<h1>Welcome To Our</h1>
<h1 class="bold">ANAGRAM GENERATOR</h1>

<form action="/" method="post" class="form" id="anagram">
	<div>
		<label for="word">Enter a word, up to 7 letters only Please!</label>
	</div>
	<div>
		<input type="text" name="word">
	</div>
	<div>
		<button type="submit" class="btn" form="anagram">Show Me My Anagrams!</button>
	</div>
</form>